<div class="container">
  <div>
    <app-weather-icon [weatherIconData]="weatherIconData"></app-weather-icon>
  </div>
  <div>
    <span>{{ currentConditions.temp }} °C</span>
  </div>
  <div>
    <span>Humedad: {{ currentConditions.humidity }} %</span>
  </div>
  <div>
    <span>Amanecer: {{ currentConditions.sunrise | date: "shortTime" }}</span>
  </div>
  <div>
    <span>Atardecer: {{ currentConditions.sunset | date: "shortTime" }}</span>
  </div>
  <div>
    <span
      >Actualizado por última vez a las
      {{ currentConditions.lastUpdate | date: "mediumTime" }}</span
    >
  </div>
</div>
